<%- include('../partials/header') %> 

<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 10px auto;">
            <div style="padding: 10px;">
                <h2 style="margin: 10px auto;"><span class="glyphicon glyphicon-minus"></span> Edit Category</h2>
            </div> 
            <form action="/categories/<%= category._id %>?_method=PUT" method="POST">
                Enter Category Id : 
                <div class="form-group">
                    <input type="text" class="form-control" value="<%= category.catId %> " disabled name="categories[catId]">
                </div>
                Enter Category Name :
                <div class="form-group">
                    <input type="text" class="form-control" value="<%= category.catName %> " name="categories[catName]">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Edit Category</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 
