<%- include('../partials/header') %>

<div class="container">
    <h1 style="color: rgb(47, 30, 23)"><%= product.productName %> <i class="fa fa-rupee"></i><%= product.productPrice %> </h1>
    <b>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, architecto distinctio facere fuga iure sunt quam doloribus corrupti, omnis, unde voluptas facilis culpa pariatur maxime dolore id! Reiciendis, voluptatibus culpa.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, architecto distinctio facere fuga iure sunt!
        </p>
    </b>
    <br/>
    <div>
        <img src="<%= product.image %>" alt="" class="center"/>
    </div>
</div>

<%- include('../partials/footer') %>
